<ion-header>
  <ion-navbar>
    <ion-title>AppCasts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let node of getMapContentsAsArray(appcastContainer, true)">
    <ion-card-header>
      {{node}}
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <button ion-item *ngFor="let proc of getMapContentsAsArray(appcastContainer.get(node))" (click)="this.openAppcastDetailsPage(proc)">
            <h2>
              {{proc.procName}} <ion-note>{{proc.timestamp | amTimeAgo}}</ion-note>
            </h2>
            <p>
              <span [ngStyle]="proc.configWarnings.length != 0 && {'color': '#f53d3d'}">CW: {{proc.configWarnings.length}}</span>,
              <span [ngStyle]="proc.runWarnings.length != 0 && {'color': '#f53d3d'}">RW: {{proc.runWarnings.length}}</span>
            </p>
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
