<ion-header>
  <ion-navbar>
    <ion-title>Mail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let client of clients">
    <ion-card-header>
      <h2 [ngStyle]="client.ws.readyState != 1 && {'color': '#f53d3d'}">{{client.name}} <ion-note>{{client.ws.url}}</ion-note></h2>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item-sliding *ngFor="let mail of this.getMapValuesAsArray(client.receivedMail)" [ngStyle]="mail.hiddenFromList == true && {'display': 'none'}">
          <ion-item item-start>
            <h2>
              {{mail.name}}
              <ion-note>
                {{mail.timestamp | amTimeAgo}}
              </ion-note>
            </h2>
            <p>{{mail.content}}</p>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="primary" (click)="this.editMailPrompt(client, mail.name)">
              <ion-icon name="md-create"></ion-icon>
              Edit
            </button>
            <button ion-button color="danger" (click)="mail.hiddenFromList = true">
              <ion-icon name="trash"></ion-icon>
              Hide
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small (click)="this.subscribeToNewMailPrompt(client)">
          <ion-icon item-start name="add"></ion-icon>
          Add more mail
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small (click)="this.mm.rememberClient(client)" *ngIf="this.mm.rememberedClientIndex(client) == -1">
          <ion-icon name="archive"></ion-icon>
          Save
        </button>
        <button ion-button icon-left clear small (click)="this.mm.forgetClient(client)" *ngIf="this.mm.rememberedClientIndex(client) != -1">
          <ion-icon name="trash"></ion-icon>
          Forget
        </button>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card>
    <button ion-item (click)="this.addNewClientPrompt()">
      Add another client...
      <ion-icon item-end name="add"></ion-icon>
    </button>
  </ion-card>
</ion-content>
