<ion-header>
  <ion-navbar>
    <ion-title>Mail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let client of getMapValuesAsArray(this.mm.knownClients)">
    <ion-card-header>
      <h2 [ngStyle]="client.ws.readyState != 1 && {'color': '#f53d3d'}">{{client.name}} <ion-note>{{client.ws.url}}</ion-note></h2>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item-sliding *ngFor="let mail of getMapValuesAsArray(client.receivedMail)" [ngStyle]="mail.hiddenFromList == true && {'display': 'none'}" (click)="mail.expandOnList = !mail.expandOnList">
          <ion-item item-start>
            <h2>
              {{mail.name}}
              <ion-note>
                {{mail.timestamp | amTimeAgo}}
              </ion-note>
            </h2>
            <p>{{mail.content}}</p>
            <ion-grid *ngIf="mail.expandOnList">
              <ion-row *ngFor="let splitMail of mail.content.split(',')">
                <ion-col><b>{{splitMail.split("=")[0]}}</b></ion-col>
                <ion-col>{{splitMail.split("=")[1]}}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="primary" (click)="this.editMailPrompt(client, mail.name)">
              <ion-icon name="md-create"></ion-icon>
              Edit
            </button>
            <button ion-button color="danger" (click)="mail.hiddenFromList = true">
              <ion-icon name="trash"></ion-icon>
              Hide
            </button>
            <button ion-button color="secondary" *ngIf="!client.savedMail.has(mail.name)" [disabled]="!client.isRemembered(this.mm)" (click)="client.savedMail.add(mail.name); client.remember(this.mm)">
              <ion-icon name="archive"></ion-icon>
              Save
            </button>
            <button ion-button color="warning" *ngIf="client.savedMail.has(mail.name)" (click)="client.savedMail.add(mail.name); client.remember(mm)">
              <ion-icon name="archive"></ion-icon>
              Unsave
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small (click)="this.subscribeToNewMailPrompt(client)">
          <ion-icon item-start name="add"></ion-icon>
          Add more mail
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small (click)="client.remember(this.mm)" *ngIf="!client.isRemembered(this.mm)">
          <ion-icon name="archive"></ion-icon>
          Save
        </button>
        <button ion-button icon-left clear small (click)="client.forget(this.mm)" *ngIf="client.isRemembered(this.mm)">
          <ion-icon name="trash"></ion-icon>
          Forget
        </button>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card>
    <button ion-item (click)="this.addNewClientPrompt()">
      Add another client...
      <ion-icon item-end name="add"></ion-icon>
    </button>
  </ion-card>
</ion-content>
