<ion-header>
  <ion-navbar>
    <ion-title>{{proc.procName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      Last Updated: {{proc.timestamp | amUtc | amLocal | amDateFormat:'MM/DD/YYYY HH:mm:ss'}}
      <ion-list>
        <ion-item *ngIf="proc.configWarnings.length > 0">
          <h2>Config Warnings</h2>
          <pre>{{proc.configWarnings.join("\n")}}</pre>
        </ion-item>
        <ion-item *ngIf="proc.numberRunWarnings > 0">
          <h2>Run Warnings</h2>
          <pre>{{proc.runWarnings.join("\n")}}</pre>
          <pre *ngIf="proc.numberRunWarnings > proc.runWarnings.length">And {{proc.numberRunWarnings - proc.runWarnings.length}} more</pre>
        </ion-item>
        <ion-item>
          <h2>Messages</h2>
          <pre>{{proc.messages.join("\n")}}</pre>
        </ion-item>
        <ion-item>
          <h2>Events</h2>
          <pre>{{proc.events.join("\n")}}</pre>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
